

* {
  box-sizing: border-box;
}

body {
  width: 1200px;
  margin: auto;
}

img {
  width: 100%;
}


header {
  background: #393e46;
}

header nav {
  text-align: center;
  padding-top: 30px;
}

header nav a {
  text-decoration: none;
  color: #eee;
  padding: 0 20px;
}

header nav a:hover {
  background: #ffd369;
  color: #393e46;
}



.container {
  display: grid;
  grid-template-rows: 100px minmax(calc(100vh - 170px) , 1fr) 50px;
  gap: 10px;
}

.image-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}


ul { padding: 20px;
font-size: 27;
font-weight: bold;
color: rgb(6, 0, 10);}

ul li {
  padding: 10px;
  border: 3px solid rgb(43, 39, 49);
  text-transform: capitalize;
}

button {
  visibility: hidden;
  margin-top: 40px;
}

footer {
  display: flex;
  align-items: center;
  background: #222831;
  color: #eee;
  text-align: center;
}

footer p {
  width: 100%;
}